// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// fonts
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Lora', serif;

// color palette
// #28697A
// #242426
// #EDEDF4
// #9B9B9E
// #E3E3E4

html {
 color: #242426;
 background-color: #EDEDF4;
 font-family: 'Roboto Condensed', sans-serif;
 font-size: 20px;
}

header {
  background-color: #28697A;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #28697A;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 30px;
}

header h1 {
  font-size: 90px;
  color: #EDEDF4;
}

.photo img {
  width: 400px;
  height: 300px;
  display: inline-block;
  margin: 5px 1px;
  box-shadow: 0 3px 3px 0 #E3E3E4, 0 6px 10px 0;
}

.photo {
  float: left;
  padding: 5px;
}

div {
  display: block;
}

footer {
  clear: both;
  background-color: #9B9B9E;
}

footer p, a {
  text-align: center;
  font-size: 18pt;
  color: #242426;
  font-family: 'Lora', serif;
}

.copyright {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  color: #242426;
}

.copy {
  margin-right: 40px;
}

.icon {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

footer table {
  margin: auto;
}

footer td {
  vertical-align: top;
}

.float-clear {
  clear: both;
}
