// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {

}

.photo img {
  width: 300px;
  display: inline-block;
  margin: 5px 1px;
}

.photo {
  float: left;
}

div {
  display: block;
}

footer {
  clear: both;
  background-color: #545458;
}
.copyright {
  font-size: 12pt;
  color: #242426;
}
