// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// fonts
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Lora', serif;

// color palette
// #28697A
// #242426
// #EDEDF4
// #9B9B9E
// #E3E3E4

// ---------------- General Styles -------------------------

html {
 color: #242426;
 background-color: #EDEDF4;
 font-family: 'Roboto Condensed', sans-serif;
 font-size: 20px;
}

main {
  margin-left: 3%;
  clear: both;
}

header {
  background-color: #28697A;
  position: fixed;
  width: 100%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #28697A;
  font-size: 80px;
  padding: 10px;
  text-align: center;
}


h2 {
  font-size: 30px;
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 20px;
}

// --------------------- Header Styles -------------------------

.left h1 {
  font-size: 90px;
  color: #EDEDF4;
  padding: 10px;
  letter-spacing: 3px;
  text-align: left;
}

.left p {
  margin-left: 10px;
  padding-left: 5px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-top: -5px;
}

.main-head {
  float: left;
}

.left {
  min-width: 70%;
  // max-width: 85%;
}

.right {
  margin-top: 20px;
  margin-left: 5%;
}

.log-in {
  // margin-right: 10%;
  // display: none;
}

.right p {
  // margin-top: 20px;
  // margin-right: 20px;
  text-align: right;
  margin-bottom: 50px;
}

.right a {
  // margin-top: 20px;
  // margin-right: 20px;
  text-align: right;
  color: #242426;
}

// -------------- pictures index styles -------------------

.new-pic {
  padding-bottom: 30px;
  text-align: center;
}

.new-pic a {
  text-decoration: none;
  color: #242426;
}

.new-pic a:hover {
  color: #28697A
}

.photo img {
  width: 400px;
  height: 300px;
  display: inline-block;
  margin: 5px 1px;
  box-shadow: 0 4px 8px 0px #6c6c6e, 0 6px 20px 0 #E3E3E4;
}

.photo {
  float: left;
  padding: 5px;
}

div {
  display: block;
}

// ------------------ Footer Styles -------------------

footer {
  clear: both;
  background-color: #9B9B9E;
}

footer p, footer a {
  text-align: center;
  font-size: 18pt;
  color: #242426;
  font-family: 'Lora', serif;
  text-decoration: none;
}

.copyright {
  margin-top: 8px;
  text-align: center;
  color: #242426;
}

.copy {
  margin-right: 90px;
  margin-top: 8px;
}

.icon {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

footer table {
  margin: auto;
}

footer td {
  vertical-align: top;
  padding: 15px;
}

.float-clear {
  clear: both;
}
